body {
  margin: 0;
  font-family: sans-serif;
}

/*main > section {
    display: block;
}*/

.main-swiper__wrapper {
  height: 300px;
}

.main-swiper__flex {
  display: flex;
  height: 100%;
  width: 50%;
  background: dodgerblue;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-swiper__item {
  flex: 0;
  height: 100%;
  transition: flex 0.3s ease;
}

.main-swiper__item img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
